-- CreateTable
CREATE TABLE "User" (
    "id" TEXT NOT NULL,
    "telegramId" BIGINT NOT NULL,
    "username" TEXT,
    "credits" INTEGER NOT NULL DEFAULT 0,
    "subscriptionExpiresAt" TIMESTAMP(3),
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "stripeCustomerId" TEXT,
    "hasAcceptedTerms" BOOLEAN NOT NULL DEFAULT false,
    "referralCode" TEXT,
    "referredById" TEXT,
    "referralBalanceUSDT" DOUBLE PRECISION NOT NULL DEFAULT 0.0,
    "referralBalanceBCOIN" DOUBLE PRECISION NOT NULL DEFAULT 0.0,
    "referralBalanceSEN" DOUBLE PRECISION NOT NULL DEFAULT 0.0,
    "referralPayoutAddress" TEXT,
    "notifyTrades" BOOLEAN NOT NULL DEFAULT true,
    "notifyBalances" BOOLEAN NOT NULL DEFAULT true,
    "notifySteps" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "User_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Session" (
    "id" TEXT NOT NULL,
    "key" TEXT NOT NULL,
    "data" TEXT NOT NULL,

    CONSTRAINT "Session_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Wallet" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "publicAddress" TEXT NOT NULL,
    "encryptedPrivateKey" TEXT NOT NULL,
    "iv" TEXT NOT NULL,
    "authTag" TEXT NOT NULL,
    "network" TEXT NOT NULL DEFAULT 'POLYGON',

    CONSTRAINT "Wallet_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "TradeConfig" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "network" TEXT NOT NULL DEFAULT 'BSC',
    "tokenPair" TEXT NOT NULL,
    "buyAmountA" DOUBLE PRECISION NOT NULL DEFAULT 10.0,
    "sellAmountA" DOUBLE PRECISION NOT NULL DEFAULT 5.0,
    "buyAmountB" DOUBLE PRECISION NOT NULL DEFAULT 4.0,
    "sellAmountB" DOUBLE PRECISION NOT NULL DEFAULT 1.0,
    "slippage" DOUBLE PRECISION NOT NULL DEFAULT 1.0,
    "strategy30m" BOOLEAN NOT NULL DEFAULT true,
    "strategy4h" BOOLEAN NOT NULL DEFAULT true,
    "maPeriodA" INTEGER NOT NULL DEFAULT 21,
    "maPeriodB" INTEGER NOT NULL DEFAULT 21,
    "timeframeA" TEXT NOT NULL DEFAULT '30m',
    "timeframeB" TEXT NOT NULL DEFAULT '4h',
    "rsiEnabled" BOOLEAN NOT NULL DEFAULT false,
    "rsiPeriod" INTEGER NOT NULL DEFAULT 14,
    "window1Min" INTEGER NOT NULL DEFAULT 15,
    "window1Max" INTEGER NOT NULL DEFAULT 29,
    "window2Min" INTEGER NOT NULL DEFAULT 45,
    "window2Max" INTEGER NOT NULL DEFAULT 59,
    "scheduleMode" TEXT NOT NULL DEFAULT 'window',
    "intervalMinutes" INTEGER NOT NULL DEFAULT 60,
    "antiSandwichEnabled" BOOLEAN NOT NULL DEFAULT false,
    "isOperating" BOOLEAN NOT NULL DEFAULT false,

    CONSTRAINT "TradeConfig_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "TradeHistory" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "txHash" TEXT,
    "type" TEXT NOT NULL,
    "status" TEXT NOT NULL,
    "amount" DOUBLE PRECISION NOT NULL,
    "price" DOUBLE PRECISION NOT NULL,
    "feeUsed" DOUBLE PRECISION NOT NULL,
    "errorMessage" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "TradeHistory_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "PriceTick" (
    "id" TEXT NOT NULL,
    "symbol" TEXT NOT NULL,
    "network" TEXT NOT NULL,
    "price" DOUBLE PRECISION NOT NULL,
    "timestamp" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "PriceTick_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "CustomToken" (
    "id" TEXT NOT NULL,
    "network" TEXT NOT NULL,
    "address" TEXT NOT NULL,
    "symbol" TEXT NOT NULL,
    "name" TEXT,
    "decimals" INTEGER NOT NULL DEFAULT 18,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "CustomToken_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "User_telegramId_key" ON "User"("telegramId");

-- CreateIndex
CREATE UNIQUE INDEX "User_stripeCustomerId_key" ON "User"("stripeCustomerId");

-- CreateIndex
CREATE UNIQUE INDEX "User_referralCode_key" ON "User"("referralCode");

-- CreateIndex
CREATE UNIQUE INDEX "Session_key_key" ON "Session"("key");

-- CreateIndex
CREATE UNIQUE INDEX "Wallet_userId_key" ON "Wallet"("userId");

-- CreateIndex
CREATE INDEX "Wallet_publicAddress_idx" ON "Wallet"("publicAddress");

-- CreateIndex
CREATE UNIQUE INDEX "TradeConfig_userId_network_tokenPair_key" ON "TradeConfig"("userId", "network", "tokenPair");

-- CreateIndex
CREATE INDEX "TradeHistory_userId_createdAt_idx" ON "TradeHistory"("userId", "createdAt");

-- CreateIndex
CREATE INDEX "TradeHistory_status_idx" ON "TradeHistory"("status");

-- CreateIndex
CREATE INDEX "PriceTick_symbol_network_timestamp_idx" ON "PriceTick"("symbol", "network", "timestamp");

-- CreateIndex
CREATE UNIQUE INDEX "CustomToken_address_key" ON "CustomToken"("address");

-- CreateIndex
CREATE INDEX "CustomToken_network_address_idx" ON "CustomToken"("network", "address");

-- AddForeignKey
ALTER TABLE "User" ADD CONSTRAINT "User_referredById_fkey" FOREIGN KEY ("referredById") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Wallet" ADD CONSTRAINT "Wallet_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "TradeConfig" ADD CONSTRAINT "TradeConfig_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "TradeHistory" ADD CONSTRAINT "TradeHistory_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

